body{
    background-color: black;
    color: white;
}
li{
    list-style: none;
    color: white;
    text-decoration: underline;
    margin: 0px 10px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0px;
}
div , input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}
li:hover , button:hover{
    cursor: pointer;
}
h1{
    text-align: center;
}
input{
    border: none;
    font-weight: bolder;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 1000px;
}